/* Styles for all */
body {
    height: 100%;
    background-color: #f2f2f2;
    margin:0px;
    width: 100%;
}

html {
	height: 100%;
	width: 100%;
}

h4 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/* Header */
.header_content {
	position: absolute; /* Center Header Text */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header {
	background-color: #2a4d69;
	height: 100%;
	position: relative;
}

h1 { /* Felicia Hioe */
   	color: white;
   	text-align: center;
   	font-size: 80px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

#title h1 { 
    opacity: 0;
    -webkit-transition: opacity 3s ease-in;
    -moz-transition: opacity 3s ease-in;
    -o-transition: opacity 3s ease-in;
    -ms-transition: opacity 3s ease-in;
    transition: opacity 3s ease-in;
}

#title h1.load {
    opacity: 1;
}

h3 { /* Full Stack - Mobile... */
   	color: #e7eff6;
   	text-align: center;
   	margin-top: -40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}

#tagline h3 {
    opacity: 0;
    -webkit-transition: opacity 3s 1s;
    -moz-transition: opacity 3s 1s;
    -o-transition: opacity 3s 1s;
    -ms-transition: opacity 3s 1s;
    transition: opacity 3s 1s;
}

#tagline h3.load {
    opacity: 1;
}

#social_links { /* Social Icons */
	text-align: center;
	margin-top: 50px;
}

#social_links img { 
	padding-right: 10px;

	opacity: 0;
    -webkit-transition: opacity 3s 2s;
    -moz-transition: opacity 3s 2s;
    -o-transition: opacity 3s 2s;
    -ms-transition: opacity 3s 2s;
    transition: opacity 3s 2s;
}

#social_links img.load {
    opacity: 1;
}

button { /* Down Arrow Button */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#scroll_down img {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0;
    -webkit-transition: opacity 3s 3s;
    -moz-transition: opacity 3s 3s;
    -o-transition: opacity 3s 3s;
    -ms-transition: opacity 3s 3s;
    transition: opacity 3s 3s;
}

#scroll_down img.load {
    opacity: 1;
}

/* Menu */
#menu {
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 75px; 
	z-index: 9999;
	display: none;
	background-color: #222224;
	opacity: 0.9;
}

h2 {
   	color: #e7eff6;
   	float: left;
	margin-left: 25px;
	margin-top: 15px;
	font-size: 40px;
    font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: italic; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 75px; 
    float: right;
}

li {
    float: left;
    height: 75px; 
    display:inline;
    padding: 0;
}

li a {
    display: block;
    padding: 14px 50px;
    text-decoration: none;
    color: #FFF;
}

li a p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

li a:hover:not(.active) {
    color: #65737e;
}

/* Quarter */
.quarter {
	padding: 0 10%;
	margin-top: 10px;
	height: 300px;
}

.about, .skills, .extra {
	float: left;
	width: 33.33%;
	height: 300px;
}

.about p, .skills p {
	margin-right: 10px;
}

.skills p{
	margin-left: 10px;
}

.extra {
	position: relative;
}

.extra_content {
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.extra_content img#left {
	padding-right: 10px;
}
.extra_content img#right {
	padding-left: 10px;
}

/* Portfolio */
.portfolio {
	float: left;
	padding: 0 10%;
	background-color: #f2f2f2;
}

/* Contact */
.contact {
	padding: 0 10%;
}

