/* Styles for all */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    background-color: #f2f2f2;
    margin:0px;
    width: 100%;
    overflow: auto;
}

h4 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 30px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/* Header */
.header_content {
	position: absolute; /* Center Header Text */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header {
	background-color: #2a4d69;
	height: calc(100%);
	position: relative;
}

h1 { /* Felicia Hioe */
   	color: white;
   	text-align: center;
   	font-size: 80px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

#title h1 { 
    opacity: 0;
    -webkit-transition: opacity 3s ease-in;
    -moz-transition: opacity 3s ease-in;
    -o-transition: opacity 3s ease-in;
    -ms-transition: opacity 3s ease-in;
    transition: opacity 3s ease-in;
}

#title h1.load {
    opacity: 1;
}

h3 { /* Full Stack - Mobile... */
   	color: #e7eff6;
   	text-align: center;
   	margin-top: -40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}


#tagline h3 {
    opacity: 0;
    -webkit-transition: opacity 3s 1s;
    -moz-transition: opacity 3s 1s;
    -o-transition: opacity 3s 1s;
    -ms-transition: opacity 3s 1s;
    transition: opacity 3s 1s;
}

#tagline h3.load {
    opacity: 1;
}

#social_links { /* Social Icons */
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

#social_links img { 
	padding-right: 10px;
	width: 60px;
	height: 60px;

	opacity: 0;
    -webkit-transition: opacity 3s 2s;
    -moz-transition: opacity 3s 2s;
    -o-transition: opacity 3s 2s;
    -ms-transition: opacity 3s 2s;
    transition: opacity 3s 2s;
}

#social_links img.load {
    opacity: 1;
}

button { /* Down Arrow Button */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#scroll_down img {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;

	opacity: 0;
    -webkit-transition: opacity 3s 3s;
    -moz-transition: opacity 3s 3s;
    -o-transition: opacity 3s 3s;
    -ms-transition: opacity 3s 3s;
    transition: opacity 3s 3s;
}

#scroll_down img.load {
    opacity: 1;
}

/* Menu */
#menu {
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 75px; 
	z-index: 9999;
	display: none;
	background-color: #191919;
}

h2 {
   	color: #e7eff6;
   	float: left;
	margin-left: 25px;
	margin-top: 15px;
	font-size: 40px;
    font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: italic; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 75px; 
    float: right;
}

li {
    float: left;
    height: 75px; 
    display:inline;
    padding: 0;
}

li a {
    display: block;
    padding: 14px 50px;
    text-decoration: none;
    color: #FFF;
}

li a p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

li a:hover:not(.active) {
    color: #65737e;
}

/* Quarter */
.quarter {
	padding: 0 15%;
	padding-bottom: 20px;
	overflow: hidden;
	background-color: #222224;
}

.about, .skills, .extra {
	float: left;
	width: 33.33%;
	color: #FFF;
}

.about p, .skills p {
	margin-right: 10px;
}

.skills p{
	margin-left: 10px;
}

.extra {
	text-align: center;
}


/* Portfolio */
h5 {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h6 {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	margin-top: -10px;
	margin-bottom: -5px;
}

.portfolio a {
    color: #FFF;
    text-decoration: none;
    background-color:  #222224;
    border-radius: 10px;
    padding: 0 5px;
}

.portfolio a:hover {
    background-color: #65737e;
}

.portfolio {
	padding: 0 20%;
	margin-bottom: 0px;
	float: left;
}

#pics img {
	border-radius: 25px;
	width: 250px;
	height: 250px;
	border: 2px solid #65737e;
}

.p1, .p2 {
	overflow: hidden;
    padding: 0 20px;
    margin: 20px 0;
    display: table;
}

.p1 #pics {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
    text-align: center;
}

.p1 #text {
	display: table-cell;
	vertical-align: top;
	padding-left: 20px;
}

.p2 #text {
	display: table-cell;
	vertical-align: top;
	padding-right: 20px;
}

.p2 #pics {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
    text-align: center;
}

/* Contact */
.contact {
	float: left;
	width: 100%;
	position: absolute;
    left: 0;
    overflow: hidden;
    bottom: 0;
	background-color: #2a4d69;
	color: #FFF;
	text-align: center;
	padding: 0;
}

#social_links2 {
	margin-top: -25px;
}

/* Responsiveness */

@media only screen and (max-width: 71.875em) {
    .portfolio{
    	padding: 0 10%;
    }
}

@media only screen and (max-width: 59.375em) {
	.about, .skills, .extra {
		float: none;
		width: 100%;
	}

	.extra {
		padding-bottom: 15px;
	}
}

@media only screen and (max-width: 50.625em) {

	.p1, .p2, .p1 #pics, .p1 #text {
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}

	.p2 #pics {
	    -webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    -ms-flex-order: 1;
	    -webkit-order: 1;
	    order: 1;
	}

	.p2 #text {
		-webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	}

	h2 {
	   	display: none;
	}

	ul {
		float: none;
		display: table;
		margin: 0 auto; 
	}

	li {
		display: inline;
	}
}

@media only screen and (max-width: 43.6875em) {
	.header_content {
		top: 40%;
	}

	h1 { 
	   	font-size: 50px;
	}

	h3 {
		font-size: 15px;
		padding-top: 10px;
	}

	#social_links { /* Social Icons */
		margin-top: 10px;
	}

	#social_links img { 
		width: 40px;
		height: 40px;
	}

	#scroll_down img {
		width: 35px;
		height: 35px;
	}
}

@media only screen and (max-width: 33.125em) {
	li {
	    display: block;
	    float:none;
	    margin-top: -10px;
	    margin-bottom: -57px;
	}

	li a {
	    display: block;
	    width: 100%;
	    padding: 0;
	    padding-bottom: 0px;
	}

	#menu {
		height: 100px;
	}

	position: absolute;
    left: 0;
    overflow: hidden;
    bottom: 0;
}